* {
    /*margin: 0px;*/
}

body {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: grey 1px solid;
    margin: 0px;
    padding: 20px;
}

h2 {
    margin: 0px;
}

ol {
    border-right: grey 1px solid;
    width: 100px;
    margin: 0px;
    padding: 15px 0px 15px 25px;
}

#grid {
    display: grid;
    grid-template-columns: 131px 1fr;
}

#article {
    margin-left: 4px;
}

/* Width =< 800 */
@media(max-width:800px) {
    #grid {
        display: block;
    }

    ol {
        border-right: none;
    }
}