body {
    margin: 0px;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

h1 {
    font-size: 45px;
    text-align: center;

    margin: 0px;
    padding: 10px 0px 10px 0px;
    
    border-bottom: 1px black solid;
}

h2 {
    margin: 10px 0px 10px 0px;
}

#grid {
    display: grid;
    grid-template-columns: 113px 1fr;
}

ol {
    margin: 10px ;
    padding-left: 18px;
    width: 75px;
}

#index {
    border-right: 1px black solid;
}

p {
    margin: 10px 0px 10px 0px;
}

#article {
    margin: 0px 10px 0px 10px;
}

@media(max-width:800px) {
    #grid {
        display: block;
    }

    #index {
        border-right: none;
    }
}

.darkmode {
    color: white !important;
    background-color: black !important;
    border-color: white !important;
}